<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:inline="text">
<head th:replace="thymeleaf/layout :: head(~{:: title})">
  <title>Spring Web MVC :: Generics with REST</title>
</head>
<body role="document">
<div th:replace="thymeleaf/layout :: #menu"></div>
<div class="container">
  <div class="jumbotron">
    <h1>Using Generics with REST APIs</h1>
    <p>
      <a href="https://docs.oracle.com/javase/tutorial/java/generics"><code>Generics</code></a> are a powerful feature
      of the Java language that reduce repetitive code in an application without sacrificing type-safety at the time
      of compilation. This allows developers to write common code that can work with multiple data types.  When using
      <code>Generics</code> with a REST API, generic fields have to be serialized to REST responses and deserialized
      from REST requests.  Serialization is straight-forward because the Java object graph to be serialized contains
      full class information required to structure the response in any data representation.  However, deserialization
      is tricky because the incoming request needs to be mapped to the appropriate polymorphic Java representation.
      This is complicated further due to the fact that type information for generic fields and parameters gets erased
      from Java bytecode at the time of compilation and hence finding exact type information for a generic field or
      parameter is difficult at runtime.
    </p>
    <p>
      This example shows how generic data can be read and written using the <a href="https://github.com/FasterXML/jackson">
      <code>Jackson</code></a> serialization library.
    </p>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>JSON representation</h4>
    </div>
    <div class="panel-body">
      <p>
        To see a sample message returned as JSON, follow one of the steps described below:
      </p>
      <ul>
        <li><b>Quick</b>: Make a regular HTTP POST request to <code>/generics.json</code> on this server; or</li>
        <li>
          <b>Preferred</b>: Make an HTTP POST request to <code>/generics</code> on this server with the <code>Accept</code>
          and <code>Content-Type</code> HTTP headers set to <code>application/json</code>.
        </li>
      </ul>
      <hr />
      <p>
        This example replays the request data sent to it.  Some sample scenarios are described below.
      </p>
      <hr />
      <p>
        <b>Scenario 1:</b> Empty request body
        <br />
        An empty JSON object <code>{}</code> is returned.
      </p>
      <hr />
      <p>
        <b>Scenario 2:</b> A minimal JSON request
        <br />
        Include the JSON object
        <pre><code>
          {
            "acronym" : "VST",
            "id" : "VST2013"
          }
        </code></pre>
        in the message body (raw HTTP request body).
      </p>
      <hr />
      <p>
        <b>Scenario 3:</b> A detailed JSON request
        <br />
        Include the JSON object
        <pre><code>
          {
          "acronym" : "VST",
          "id" : "VST2013",
          "properties" : [{
              "acronym" : "IDE",
              "name" : "Integrated Development Environment",
              "type" : "taxonomy"
            }, {
              "acronym" : "DR",
              "name" : "Duration",
              "duration" : 1,
              "type" : "term"
            }]
          }
        </code></pre>
      in the message body (raw HTTP request body).
      </p>
    </div>
    <div class="panel-footer">
      See the configuration in
      <a href="https://github.com/manish-in-java/spring-mvc-sample/blob/master/src/main/resources/springWebContext.xml" target="_blank">springWebContext.xml</a>
      for details.
    </div>
  </div>
</div>
<div th:replace="thymeleaf/layout :: #footer"></div>
</body>
</html>
