<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:inline="text">
<head th:replace="thymeleaf/layout :: head(~{:: title})">
  <title>Spring Web MVC :: Form binding</title>
</head>
<body role="document">
<div th:replace="thymeleaf/layout :: #menu"></div>
<div class="container">
  <div class="hero-unit span9">
    <h1>Enumeration value collected using <code>@RequestParam</code></h1>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">You chose</div>
    <div class="panel-body">
      <span th:text="${day}"></span>
    </div>
  </div>
</div>
<div th:replace="thymeleaf/layout :: #footer"></div>
</body>
</html>
